/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilo para o cabeçalho */
header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

/* Estilo para o menu de navegação */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Estilo para as seções principais */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #333;
}

/* Estilo para o rodapé */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
